<div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
	<div class="container position-relative">
		<h2 class="page-heading mb-3">Resumen</h2>
		<a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto" href="/" target="_blank"><i class="fas fa-download mr-2"></i>Descargar versión PDF</a>
	</div><!--//container-->
</div>

<article class="resume-wrapper text-center position-relative">
	<div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		<header class="resume-header pt-4 pt-md-0">
			<div class="media flex-column flex-md-row">
				<img class="mr-3 img-fluid picture mx-auto" src="assets/images/profile2.jpeg" alt="">
				<div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					<div class="primary-info">
						<h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">José Manuel Pérez</h1>
						<div class="title mb-3">Full Stack Developer</div>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>manuelperez9a@gmail.com</a></li>
							<li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>55-386-58956</a></li>
						</ul>
					</div><!--//primary-info-->
					<div class="secondary-info ml-md-auto mt-2">
						<ul class="resume-social list-unstyled">
							<li class="mb-3"><a [href]="'https://linkedin.com/in/manuelperezg21'" target="_blank"><span class="fa-container text-center mr-2"><i
											class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/manuelperezg21</a></li>
							<li class="mb-3"><a [href]="'https://github.com/manuelperezg'" target="_blank"><span class="fa-container text-center mr-2"><i
											class="fab fa-github-alt fa-fw"></i></span>github.com/manuelperezg</a></li>

							<li>
								<a [href]="'https://manuelperezg.com/'" target="_blank">
									<span class="fa-container text-center mr-2"><i
											class="fas fa-globe"></i></span>https://manuelperezg.com/</a></li>
						</ul>
					</div><!--//secondary-info-->

				</div><!--//media-body-->
			</div><!--//media-->
		</header>
		<div class="resume-body p-5">
			<section class="resume-section summary-section mb-5">
				<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">RESUMEN</h2>
				<div class="resume-section-content">
					<p class="mb-0">
						Desarrollador Full-Stack con más de 3 años de experiencia en el desarrollo de proyectos a medida.
						Con gran capacidad de liderar equipos de trabajo para cumplir objetivos específicos.
						Usted obtendrá la experiencia combinada de un líder centrados en solucionar problemas tecnológicos utilizando las tecnologías más recientes y así generar una experiencia de usuario limpia y eficiente.					
					</p>
				</div>
			</section><!--//summary-section-->
			<div class="row">
				<div class="col-lg-9">
					<section class="resume-section experience-section mb-5">
						<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experiencia</h2>
						<div class="resume-section-content">
							<div class="resume-timeline position-relative">
								<article class="resume-timeline-item position-relative pb-5">

									<div class="resume-timeline-item-header mb-2">
										<div class="d-flex flex-column flex-md-row">
											<h3 class="resume-position-title font-weight-bold mb-1">Desarrollador Principal</h3>
											<div class="resume-company-name ml-auto">Soler&Palau México</div>
										</div><!--//row-->
										<div class="resume-position-time">2019 - Actual</div>
									</div><!--//resume-timeline-item-header-->
									<div class="resume-timeline-item-desc">
										<p>Página Web Oficial del Corporativo S&P Palau México</p>
										<p>Ajustándose a los requerimientos del Corporativo se logró realizar el desarrollo a medida para el cliente. El proyecto incluye diversas secciones donde se muestra toda la trayectoria de la empresa, así como sus productos disponibles. Además utiliza técnicas como Responsive Design y Optimización de buscadores. </p>
										<!-- <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4> -->
										<!-- <p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p> -->
									<!-- 	<ul>
											<li>HTML5 / CSS / Bootstrap</li>
											<li>Jquery / Peticiones Asíncronas</li>
											<li>Construcción de un WebService</li>
											<li>PHP Nativo</li>
										</ul> -->
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologías usadas:</h4>
										<ul class="list-inline">
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5 / CSS / Bootstrap</span></li>
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">Peticiones Asíncronas</span></li>
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">jQuery</span></li>
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">WebService</span></li>
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">PHP Nativo</span></li>
											<li class="list-inline-item"><span class="badge badge-secondary badge-pill">MySQL / ORACLE</span></li>
										</ul>
									</div><!--//resume-timeline-item-desc-->

								</article><!--//resume-timeline-item-->

								<article class="resume-timeline-item position-relative pb-5">

									<div class="resume-timeline-item-header mb-2">
										<div class="d-flex flex-column flex-md-row">
											<h3 class="resume-position-title font-weight-bold mb-1">Desarrollador Principal</h3>
											<div class="resume-company-name ml-auto">Soler & Palau México</div>
										</div><!--//row-->
										<div class="resume-position-time"> NOV 2018 - FEB 2019</div>
									</div><!--//resume-timeline-item-header-->
									<div class="resume-timeline-item-desc">
										<p>Tienda Web donde se Muestran todos los Productos que ofrece S&P México</p>
										<h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros</h4>
										<ul>
											<li>
												Se construyo un carrito completo con las operaciones de agregar,actualizar y eliminar.
											</li>
											<li>
												Al actualizar los precios de un Producto, éstos se actualizaban en tiempo real.
												<li>
													Se incluyó una opción para realizar una compra masiva.
													
												</li>
												<li>
													El carrito de compra tiene persistencia de 3 días.
												</li>
												<li>
													Envio de correo electrónico con PDF adjunto sobre todos los detalles de la petición de compra.
												</li>
											</ul>
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnología usada:</h4>
											<ul class="list-inline">
												<li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML 5 / CSS</span></li>
												<li class="list-inline-item"><span class="badge badge-secondary badge-pill">JQuery</span></li>
												<li class="list-inline-item"><span class="badge badge-secondary badge-pill">PHP</span></li>
												<li class="list-inline-item"><span class="badge badge-secondary badge-pill">MySQL</span></li>
											</ul>
										</div><!--//resume-timeline-item-desc-->

									</article><!--//resume-timeline-item-->

								</div><!--//resume-timeline-->






							</div>
						</section><!--//experience-section-->
					</div>
					<div class="col-lg-3">
						<section class="resume-section skills-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Habilidades</h2>
							<div class="resume-section-content">
								<div class="resume-skill-item">
									<h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
									<ul class="list-unstyled mb-4">
										<li class="mb-2">
											<div class="resume-skill-name">Angular</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
										<li class="mb-2">
											<div class="resume-skill-name">JavaScript</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>

										<li class="mb-2">
											<div class="resume-skill-name">jQuery</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
										<li class="mb-2">
											<div class="resume-skill-name">HTML / CSS</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
									</ul>
								</div><!--//resume-skill-item-->

								<div class="resume-skill-item">
									<h4 class="resume-skills-cat font-weight-bold">Backend</h4>
									<ul class="list-unstyled">
										<li class="mb-2">
											<div class="resume-skill-name">PHP/Laravel</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
										<li class="mb-2">
											<div class="resume-skill-name">Python/Django</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
										<li class="mb-2">
											<div class="resume-skill-name">ORACLE / MySQL</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
										<li class="mb-2">
											<div class="resume-skill-name">FireBase/MongoDB</div>
											<div class="progress resume-progress">
												<div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</li>
									</ul>
								</div><!--//resume-skill-item-->

								<div class="resume-skill-item">
									<h4 class="resume-skills-cat font-weight-bold">Otras</h4>
									<ul class="list-inline">
										<li class="list-inline-item"><span class="badge badge-light">WebService</span></li>
										<li class="list-inline-item"><span class="badge badge-light">PWA</span></li>
										<li class="list-inline-item"><span class="badge badge-light">Git & Github</span></li>
										<li class="list-inline-item"><span class="badge badge-light">Pruebas Unitarias</span></li>
										<li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
										<li class="list-inline-item"><span class="badge badge-light">Bootstrap</span></li>
										<li class="list-inline-item"><span class="badge badge-light">Materialize</span></li>
										<li class="list-inline-item"><span class="badge badge-light">SQL</span></li>
									</ul>
								</div><!--//resume-skill-item-->
							</div><!--resume-section-content-->
						</section><!--//skills-section-->
						<section class="resume-section education-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educación</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled">
									<li class="mb-2">
										<div class="resume-degree font-weight-bold">Ingeniería en Mecatrónica</div>
										<div class="resume-degree-org">Universidad Tecnológica Emiliano Zapata</div>
										<div class="resume-degree-time">2015 - 2019</div>
									</li>
									<li>
										<div class="resume-degree font-weight-bold">Bachillerato Tecnológico en Programación</div>
										<div class="resume-degree-time">2012 - 2015 </div>
									</li>
								</ul>
							</div>
						</section><!--//education-section-->
						<section class="resume-section reference-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Cursos</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled resume-awards-list">
									<li class="mb-0 pl-4 position-relative">
										<i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
										<div class="resume-award-name">Aplicaciones Angular</div>
									</li>
									<li class="mb-0 pl-4 position-relative">
										<i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
										<div class="resume-award-name">Aplicaciones Web con Vue js</div>
									</li>
									<li class="mb-0 pl-4 position-relative">
										<i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
										<div class="resume-award-name"> Desarrollo APIS REST</div>
									</li>
									<li class="mb-0 pl-4 position-relative">
										<i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
										<div class="resume-award-name"> Desarrollo de Apps Móviles con Flutter</div>
									</li>
								</ul>
							</div>
						</section><!--//interests-section-->
						<section class="resume-section language-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Lenguaje</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled resume-lang-list">
									<li class="mb-2"><span class="resume-lang-name font-weight-bold">Español </span> <small class="text-muted font-weight-normal"> (Nativo)</small></li>
									<li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Inglés </span> <small class="text-muted font-weight-normal"> (Competitivo)</small></li>
								</ul>
							</div>
						</section><!--//language-section-->
						
						<!-- <section class="resume-section interests-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intereses</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled">
									<li class="mb-1">Jugar Futbol</li>
									<li class="mb-1">Nadar</li>
									<li class="mb-1">Cocinar</li>
									<li class="mb-1">Ver Series</li>
								</ul>
							</div>
						</section> -->
						<!--//interests-section-->

					</div>
				</div><!--//row-->
			</div><!--//resume-body-->


		</div>
	</article> 