<div class="header-intro header-intro-resume theme-bg-primary text-white py-5">
    <div class="container position-relative">
        <h2 class="page-heading mb-3">Resumen</h2>
        <a class="btn theme-btn-on-bg download-resume position-absolute font-weight-bold mx-auto"
            href="assets/pdf/resumen-manuel.pdf" target="_blank"><i class="fas fa-download mr-2"></i>Descargar versión
            PDF</a>
    </div>
    <!--//container-->
</div>

<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-fluid picture mx-auto" src="assets/images/profile.jpg" alt="">
                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">José Manuel Pérez</h1>
                        <div class="title mb-3">Full Stack Developer</div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2"
                                        data-fa-transform="grow-3"></i>manuelperez9a@gmail.com</a></li>
                            <li><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2"
                                        data-fa-transform="grow-6"></i>777-104-05-30</a></li>
                        </ul>
                    </div>
                    <!--//primary-info-->
                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3"><a [href]="'https://linkedin.com/in/manuelperezgg'" target="_blank"><span
                                        class="fa-container text-center mr-2"><i
                                            class="fab fa-linkedin-in fa-fw"></i></span>linkedin.com/in/manuelperezgg</a>
                            </li>
                            <li class="mb-3"><a [href]="'https://github.com/manuelperezg'" target="_blank"><span
                                        class="fa-container text-center mr-2"><i
                                            class="fab fa-github-alt fa-fw"></i></span>github.com/manuelperezg</a></li>

                            <li>
                                <a [href]="'https://manuelperezg.com/'" target="_blank">
                                    <span class="fa-container text-center mr-2"><i
                                            class="fas fa-globe"></i></span>https://manuelperezg.com/</a></li>
                        </ul>
                    </div>
                    <!--//secondary-info-->

                </div>
                <!--//media-body-->
            </div>
            <!--//media-->
        </header>
        <div class="resume-body p-5">
            <section class="resume-section summary-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">RESUMEN</h2>
                <div class="resume-section-content">
                    <p class="mb-0">
                        Desarrollador Full-Stack con más de 5 años de experiencia en el desarrollo de proyectos a
                        medida.
                        Con gran capacidad de liderar equipos de trabajo para cumplir objetivos específicos.
                        Usted obtendrá la experiencia combinada de un líder centrados en solucionar problemas
                        tecnológicos utilizando las tecnologías más recientes y así generar una experiencia de usuario
                        limpia y eficiente.
                    </p>
                </div>
            </section>
            <!--//summary-section-->
            <div class="row">
                <div class="col-lg-9">
                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experiencia</h2>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                            	<!--//resume-timeline-item-->
                            	<article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Desarrollador
                                                Principal</h3>
                                            <div class="resume-company-name ml-auto"> VivaAerobús - Plataforma de monitoreo de errores </div>
                                        </div>
                                        <!--//row-->
                                        <div class="resume-position-time">2020 - Actual</div>
                                    </div>
                                    <!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p> La plataforma se encarga de monitorear ciertos servicios en los que que a través de un dashboard se pueden apreciar cuales errores han sido generados y el detalles de estos errores, la plataforma es flexible en cuanto al aumento de servicios a monitorear.</p>
                                        <p> Cuenta con diferentes alertas en los cuales se pueden definir servicios críticos donde el fallo de éstos puede ser un gran problema, por estos casos, se implemento un sistema de notificaciones, donde se alerta a los administradores de éstos eventos críticos. </p>

                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologías
                                            usadas:</h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">HTML5 / CSS /
                                                    Bootstrap</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">Peticiones
                                                    Asíncronas</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">Vue JS</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">Express</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">NodeJS</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">MongoDB</span></li>
                                        </ul>
                                    </div>
                                    <!--//resume-timeline-item-desc-->

                                </article>

                            	<!--//resume-timeline-item-->
                                <article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Desarrollador
                                                Principal</h3>
                                            <div class="resume-company-name ml-auto">S&P México - QUIOSCO</div>
                                        </div>
                                        <!--//row-->
                                        <div class="resume-position-time">Junio 2019 - Diciembre</div>
                                    </div>
                                    <!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                       
                                        <p>Desarrollo de aplicación web. La principal funcionalidad de este sistema web es el manejo de archivos y roles de usuario a través de 4 secciones principales: estantes, secciones, categorías y archivos. En esta aplicación se manejan diferentes roles de usuarios y permisos de creación, lectura, escritura y actualización de datos. </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Importante</h4>
                                        <p>Alguna de las principales funcionalidades de esta aplicación es el manejo confidencial de archivos.</p>
                                        <ul>
                                        	<li>Los archivos publicados no pueden visualizarse fuera de la aplicación.</li>
                                        	<li>Los archivos no pueden ser editados una vez realizada la carga.</li>
                                        	<li>Los archivos se guardan en el servidor con una configuración de encriptación.</li>
                                        	<li>Se realiza un rastreo completo sobre cualquier manipulación, descarga y/o visualización.</li>
										</ul>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologías
                                            usadas:</h4>
                                        <ul class="list-inline">
                                        	<li class="list-inline-item">
                                        		<span class="badge badge-secondary badge-pill">
                                        			HTML5 / CSS /Bootstrap
                                        		</span>
                                        	</li>
                                        	<li class="list-inline-item">
                                        		<span class="badge badge-secondary badge-pill">
                                        			Vue JS
                                        		</span>
                                        	</li>
                                        	<li class="list-inline-item">
                                        		<span class="badge badge-secondary badge-pill">
                                        			Webpack
                                        		</span>
                                        	</li>
                                        	<li class="list-inline-item">
                                        		<span class="badge badge-secondary badge-pill">
                                        			PHP / Slim
                                        		</span>
                                        	</li>
                                        	<li class="list-inline-item">
                                        		<span class="badge badge-secondary badge-pill">
                                        			Auth JWT
                                        		</span>
                                        	</li>

                                        </ul>
                                    </div>
                                    <!--//resume-timeline-item-desc-->

                                </article>
                                <!--//resume-timeline-item-->

                                <article class="resume-timeline-item position-relative pb-5">

                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Desarrollador
                                                Principal</h3>
                                            <div class="resume-company-name ml-auto">Soler & Palau México</div>
                                        </div>
                                        <!--//row-->
                                        <div class="resume-position-time"> Enero 2019 - Junio 2019</div>
                                    </div>
                                    <!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>
                                       Desarrollo de sitio web oficial de corporativo S&P México. Ajustándose a los requerimientos del cliente se desarrolló el sitio a medida, el proyecto incluye diversas secciones, así como los productos con los que cuenta disponibles, por otro lado también implementa técnicas como Responsive Design y Optimización en buscadores.
                                    </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Importante</h4>
                                       <p>
                                       	El sitio web cuenta con una sección de contacto que se comunica con un WebService que registra las demandas de contacto en tiempo real y genera los respectivos emails de aviso.
                                       </p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnología usada:
                                        </h4>
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">HTML 5 / CSS</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">JQuery</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">PHP</span></li>
                                            <li class="list-inline-item"><span
                                                    class="badge badge-secondary badge-pill">MySQL / Oracle</span></li>
                                        </ul>
                                    </div>
                                    <!--//resume-timeline-item-desc-->

                                </article>
                                <!--//resume-timeline-item-->

                            </div>
                            <!--//resume-timeline-->
                        </div>
                    </section>
                    <!--//experience-section-->
                </div>
                <div class="col-lg-3">
                    <section class="resume-section skills-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Habilidades</h2>
                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">VueJS/Angular</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">JavaScript</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 80%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>

                                    <li class="mb-2">
                                        <div class="resume-skill-name">jQuery</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 70%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">HTML5 / CSS4</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 96%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <div class="resume-skill-name">NodeJS/Express</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 90%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">PHP/Laravel</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 80%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">Oracle/MySQL</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 70%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <div class="resume-skill-name">MongoDB/FireBase</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar"
                                                style="width: 60%" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--//resume-skill-item-->

                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Otras</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><span class="badge badge-light">WebService</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">PWA</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Git & Github</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge badge-light">Pruebas
                                            Unitarias</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Bootstrap</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">Materialize</span></li>
                                    <li class="list-inline-item"><span class="badge badge-light">SQL</span></li>
                                </ul>
                            </div>
                            <!--//resume-skill-item-->
                        </div>
                        <!--resume-section-content-->
                    </section>
                    <!--//skills-section-->
                    <section class="resume-section education-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educación</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <div class="resume-degree font-weight-bold">Ingeniería en Mecatrónica</div>
                                    <div class="resume-degree-org">Universidad Tecnológica Emiliano Zapata</div>
                                    <div class="resume-degree-time">2015 - 2019</div>
                                </li>
                                <li>
                                    <div class="resume-degree font-weight-bold">Bachillerato Tecnológico en Programación
                                    </div>
                                    <div class="resume-degree-time">2012 - 2015 </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!--//education-section-->
                    <section class="resume-section reference-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Cursos</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-awards-list">
                                <li class="mb-0 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute"
                                        data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Aplicaciones Angular</div>
                                </li>
                                <li class="mb-0 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute"
                                        data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name">Aplicaciones Web con Vue js</div>
                                </li>
                                <li class="mb-0 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute"
                                        data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name"> Desarrollo APIS REST</div>
                                </li>
                                <li class="mb-0 pl-4 position-relative">
                                    <i class="resume-award-icon fas fa-trophy position-absolute"
                                        data-fa-transform="shrink-2"></i>
                                    <div class="resume-award-name"> Desarrollo de Apps Móviles con Flutter</div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!--//interests-section-->
                    <section class="resume-section language-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Lenguaje</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2"><span class="resume-lang-name font-weight-bold">Español </span> <small
                                        class="text-muted font-weight-normal"> (Nativo)</small></li>
                                <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Inglés
                                    </span> <small class="text-muted font-weight-normal"> (Competitivo)</small></li>
                            </ul>
                        </div>
                    </section>
                    <!--//language-section-->

                    <!-- <section class="resume-section interests-section mb-5">
							<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intereses</h2>
							<div class="resume-section-content">
								<ul class="list-unstyled">
									<li class="mb-1">Jugar Futbol</li>
									<li class="mb-1">Nadar</li>
									<li class="mb-1">Cocinar</li>
									<li class="mb-1">Ver Series</li>
								</ul>
							</div>
						</section> -->
                    <!--//interests-section-->

                </div>
            </div>
            <!--//row-->
        </div>
        <!--//resume-body-->


    </div>
</article>