
<div class="top-bar theme-bg-primary-darken">
	
	<div class="container-fluid">
		
		<nav class="navbar navbar-expand-lg navbar-dark position-relative">
			
			<ul class="social-list list-inline mb-0">
				<li class="list-inline-item"><a class="text-white" [routerLink]="['/home']"><i class="fas fa-home fa-fw"></i></a></li>				
				<li class="list-inline-item"><a class="text-white" [href]="'https://www.linkedin.com/in/manuelperezg21'" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
				
				<li class="list-inline-item"><a class="text-white" [href]="'https://github.com/manuelperezg/'" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
				
				<li class="list-inline-item"><a class="text-white" [href]="'https://es.stackoverflow.com/users/43380/manueel-perezz'"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
			</ul><!--//social-list-->
			
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse text-uppercase" id="navigation">
				<ul class="navbar-nav ml-lg-auto">
					<li class="nav-item mr-lg-3" routerLinkActive = "active">
						<a class="nav-link" [routerLink]="['/home']">Inicio </a>
					</li>
					<li class="nav-item mr-lg-3" routerLinkActive = "active">
						<a class="nav-link" [routerLink]="['/resumen']">Resumen</a>
					</li>
					<li class="nav-item mr-lg-3" routerLinkActive = "active">
						<a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
					</li>					
				</ul>
				<!-- <span id="slide-line" ></span> -->
			</div>
			
			
			
		</nav>
		
	</div><!--//container-->
	
</div>
