<section class="section-cta py-5 bg-primary text-white">
		<div class="container">
			<div class="text-center">
			    <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="assets/images/profile2.jpeg" alt="">
		    </div>
		    <h3 class="section-title font-weight-bold text-center mb-2">¿Necesitas ayuda para tu proyecto?</h3>
		    <div class="section-intro mx-auto text-center mb-3">
			   ¿Está buscando un desarrollador experimentado full-stack para construir su aplicación web ?, simplemente envíeme un correo electrónico a <a class="link-on-bg" href="mailto:manuelperez9a@gmail.com?subject=Cotización%20de%20página%20web">manuelperez9a@gmail.com</a> o utilice <a class="link-on-bg" [routerLink]="['/contacto']">la página de contacto. </a>
		    </div>
		    <div class="text-center">
		        <a class="theme-btn-on-bg btn" [routerLink]="['/contacto']">CONTACTO</a>
		    </div>
		</div><!--//container-->
	</section>
    
    <footer class="footer text-light text-center py-2">
	    <small class="copyright"> Manuel Developer &copy; Todos los Derechos Reservados </small>
    </footer>
    